# importing Libraries

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# loading data

In [8]:
data = pd.read_csv("data_for_lr.csv")
data.head(10)

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984
5  36.0  32.463875
6  12.0  10.780897
7  81.0  80.763399
8  25.0  24.612151
9   5.0   6.963319

# data preprocessing

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       700 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 11.1 KB

In [9]:
data.isnull().sum()

x    0
y    1
dtype: int64

In [13]:
data = data.dropna()
print("shape of data is : ",data.shape)

shape of data is :  (699, 2)

# splitting data